<html>
<head>
    <title><%= head_title %></title>
</head>
<body>
    <h1><%= head_title %></h1>

    <ul>
        <li><p><%= conclusion1 %></p></li>
        <li><p><%= conclusion2 %></p></li>
        <li><p><%= conclusion3 %></p></li>
        <li><p><%= conclusion4 %></p></li>
    </ul>

    <a href="/menu">Volver al Menú</a>
</body>
</html>