<html>
<head>
    <title><%= head_title %></title>
</head>
<body>
    <h1><%= head_title %></h1>
    <p></p>
    <h2><%= title1 %></h2>
    <p><a href="<%= info1 %>" target="_blank"><%= info1 %></a></p>
    <ul>
        <li><p><%= info1_1 %></p></li>
        <li><p><%= info1_1_1 %></p></li>
        <li><p><%= info1_1_2 %></p></li>
        <li><p><%= info1_1_3 %></p></li>
    </ul>
    <p></p>
    <h2><%= title2 %></h2>
    <p><a href="<%= info2_1 %>" target="_blank"><%= info2_1 %></a></p>
    <ul>
        <li><p><%= info2_1_1 %></p></li>
        <p><%= info2_2 %></p>
        <li><a href="<%= info2_2_1 %>" target="_blank"><%= info2_2_1 %></a></li>
    </ul>
    <p></p>
    <h2><%= title3 %></h2>
    <ul>
        <p><%= info3_1 %></p>
        <li><a href="<%= info3_1_1 %>" target="_blank"><%= info3_1_1 %></a></li>
        <p><%= info3_2 %></p>
        <li><a href="<%= info3_2_1 %>" target="_blank"><%= info3_2_1 %></a></li>
        <p><%= info3_3 %></p>
        <li><a href="<%= info3_3_1 %>" target="_blank"><%= info3_3_1 %></a></li>
        <p><%= info3_4 %></p>
        <li><p><%= info3_4_1 %></p></li>
    </ul>
    <p></p>
    <h2><%= title4 %></h2>
    <ul>
        <p><%= info5_1 %></p>
        <li><a href="<%= info5_1_1 %>" target="_blank"><%= info5_1_1 %></a></li>
        <li><p><%= info5_1_2 %></p></li>
        <p><%= info5_2 %></p>
        <li><a href="<%= info5_2_1 %>" target="_blank"><%= info5_2_1 %></a></li>
        <li><a href="<%= info5_2_2 %>" target="_blank"><%= info5_2_2 %></a></li>
    </ul>
    <p></p>
    <a href="/menu">Volver al Menú</a>
</body>
</html>