<html>
<head>
    <title><%= head_title %></title>
</head>
<body>
    <h1><%= head_title %></h1>
    <p></p>
    <h2><%= title1 %></h2>
    <ul>
        <li><h3><%= steps1 %></h3></li>
        <li><p><%= steps1_1 %></p></li>
        <img src="<%= steps1_1_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><p><%= steps1_2 %></p></li>
        <img src="<%= steps1_2_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><p><%= steps1_3 %></p></li>
        <img src="<%= steps1_3_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><p><%= steps1_4 %></p></li>
        <img src="<%= steps1_4_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><p><%= steps1_4_info %></p></li>
        <li><h3><%= steps2 %></h3></li>
        <li><p><%= steps2_1 %></p></li>
        <li><p><%= steps2_2 %></p></li>
        <li><p><%= steps2_3 %></p></li>
        <li><p><%= steps2_4 %></p></li>
        <li><p><%= steps2_5 %></p></li>
        <li><p><%= steps2_6 %></p></li>
        <li><p><%= steps2_7 %></p></li>
    </ul>
    <p></p>
    <h2><%= title2 %></h2>
    <ul>
        <li><h3><%= steps3 %></h3></li>
        <li><p><%= steps3_1 %></p></li>
        <img src="<%= steps3_1_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><p><%= steps3_2 %></p></li>
        <img src="<%= steps3_2_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><h3><%= steps4 %></h3></li>
        <li><p><%= steps4_1 %></p></li>
        <img src="<%= steps4_1_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><p><%= steps4_2 %></p></li>
    </ul>
    <p></p>
    <h2><%= title3 %></h2>
    <ul>
        <li><h3><%= steps5 %></h3></li>
        <li><p><%= steps5_1 %></p></li>
        <li><p><%= steps5_2 %></p></li>
        <li><p><%= steps5_3 %></p></li>
        <li><h3><%= steps6 %></h3></li>
        <li><p><%= steps6_1 %></p></li>
        <img src="<%= steps6_1_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><p><%= steps6_2 %></p></li>
        <li><p><%= steps6_3 %></p></li>
        <img src="<%= steps6_3_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><p><%= steps6_4 %></p></li>
    </ul>
    <p></p>
    <h2><%= title4 %></h2>
    <ul>
        <li><h3><%= steps7 %></h3></li>
        <li><p><%= steps7_1 %></p></li>
        <img src="<%= steps7_1_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><p><%= steps7_2 %></p></li>
        <img src="<%= steps7_2_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><h3><%= steps8 %></h3></li>
        <li><p><%= steps8_1 %></p></li>
        <img src="<%= steps8_1_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><p><%= steps8_2 %></p></li>
        <img src="<%= steps8_2_img %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
        <li><p><%= steps8_3 %></p></li>
    </ul>
    <p></p>
    <a href="/menu">Volver al Menú</a>
</body>
</html>