<html>
<head>
    <title><%= head_title %></title>
</head>
<body>
    <h1><%= head_title %></h1>
    <p></p>
    <h2><%= title1 %></h2>
    <ul>
        <li><p><%= integration1 %></p></li>
        <li><p><%= integration1_1 %></p></li>
        <li><p><%= integration1_2 %></p></li>
        <li><p><%= integration1_3 %></p></li>
        <li><h3><%= integration1_steps %></h3></li>
        <li><p><%= integration1_steps1 %></p></li>
        <img src="<%= integration1_steps1_img %>" alt="Ejemplo GraphQL" style="max-width: 100%; height: auto;">
        <li><p><%= integration1_steps2 %></p></li>
        <img src="<%= integration1_steps2_img %>" alt="Ejemplo GraphQL" style="max-width: 100%; height: auto;">
        <li><p><%= integration1_steps3 %></p></li>
    </ul>
    <p></p>
    <h2><%= title2 %></h2>
    <ul>
        <li><p><%= integration2 %></p></li>
        <li><p><%= integration2_1 %></p></li>
        <li><p><%= integration2_2 %></p></li>
        <li><p><%= integration2_3 %></p></li>
        <li><h3><%= integration2_steps %></h3></li>
        <li><p><%= integration2_steps1 %></p></li>
        <img src="<%= integration2_steps1_img %>" alt="Ejemplo GraphQL" style="max-width: 100%; height: auto;">
        <li><p><%= integration2_steps2 %></p></li>
        <img src="<%= integration2_steps2_img %>" alt="Ejemplo GraphQL" style="max-width: 100%; height: auto;">
        <li><p><%= integration2_steps3 %></p></li>
        <img src="<%= integration2_steps3_img %>" alt="Ejemplo GraphQL" style="max-width: 100%; height: auto;">
    </ul>
    <p></p>
    <h2><%= title3 %></h2>
    <ul>
        <li><p><%= integration3 %></p></li>
        <li><h3><%= integration3_steps %></h3></li>
        <li><p><%= integration3_steps1 %></p></li>
        <img src="<%= integration3_steps1_img %>" alt="Ejemplo GraphQL" style="max-width: 100%; height: auto;">
        <li><p><%= integration3_steps2 %></p></li>
        <img src="<%= integration3_steps2_img %>" alt="Ejemplo GraphQL" style="max-width: 100%; height: auto;">
        <li><p><%= integration3_steps3 %></p></li>
    </ul>
    <p></p>
    <a href="/menu">Volver al Menú</a>
</body>
</html>