<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <ul>
        <li><h2><%= question1 %></h2></li>
        <li><p><%= answer1 %></p></li>
        <li><h2><%= question2 %></h2></li>
        <li><p><%= answer2 %></p></li>
        <li><h2><%= question3 %></h2></li>
        <li><p><%= answer3 %></p></li>
        <li><h2><%= question4 %></h2></li>
        <li><p><%= answer4 %></p></li>
    </ul>
    
    <img src="<%= imageUrl %>" alt="Introducción" style="max-width: 100%; height: auto;">
    <p></p>
    <a href="/menu">Volver al Menú</a>
</body>
</html>