<html>
<head>
    <title><%= head_title %></title>
</head>
<body>
    <h1><%= head_title %></h1>
    <p></p>
    <h2><%= title1 %></h2>
    <ul>
        <li><h3><%= popertie1 %></h3></li>
        <li><p><%= popertie1_1 %></p></li>
        <li><p><%= popertie1_2 %></p></li>
        <li><p><%= popertie1_3 %></p></li>
        <li><p><%= popertie1_4 %></p></li>
        <li><h3><%= popertie2 %></h3></li>
        <li><p><%= popertie2_1 %></p></li>
        <li><p><%= popertie2_2 %></p></li>
        <li><p><%= popertie2_3 %></p></li>
        <li><p><%= popertie2_4 %></p></li>
        <li><p><%= example %></p></li>
        <img src="<%= body_example1 %>" alt="Ejemplo GraphQL" style="max-width: 100%; height: auto;">
    </ul>
    <p></p>
    <h2><%= title2 %></h2>
    <ul>
        <li><h3><%= popertie3 %></h3></li>
        <li><p><%= popertie3_1 %></p></li>
        <li><h3><%= popertie4 %></p></li>
        <li><p><%= popertie4_1 %></p></li>
        <li><p><%= popertie4_2 %></p></li>
        <li><p><%= example %></p></li>
        <img src="<%= body_example2 %>" alt="Ejemplo @MessagePattern()" style="max-width: 100%; height: auto;">
    </ul>
    <p></p>
    <h2><%= title3 %></h2>
    <ul>
        <li><p><%= popertie5 %></p></li>
        <li><p><%= popertie5_1 %></p></li>
        <li><p><%= popertie5_2 %></p></li>
        <li><p><%= popertie5_3 %></p></li>
        <li><p><%= example %></p></li>
        <img src="<%= body_example3 %>" alt="Ejemplo modulo" style="max-width: 100%; height: auto;">
    </ul>
    <p></p>
    <h2><%= title4 %></h2>
    <ul>
        <li><h3><%= popertie6 %></h3></li>
        <li><p><%= popertie6_1 %></p></li>
        <li><p><%= popertie6_2 %></p></li>
        <li><p><%= popertie6_3 %></p></li>
        <li><p><%= example %></p></li>
        <img src="<%= body_example4 %>" alt="Ejemplo middleware" style="max-width: 100%; height: auto;">
        <li><p><%= popertie7 %></p></li>
        <li><p><%= popertie7_1 %></p></li>
        <li><p><%= example %></p></li>
        <img src="<%= body_example5 %>" alt="Ejemplo decorador" style="max-width: 100%; height: auto;">
    </ul>
    <p></p>
    <h2><%= title5 %></h2>
    <ul>
        <li><p><%= popertie8 %></p></li>
        <li><p><%= popertie8_1 %></p></li>
        <li><p><%= popertie8_2 %></p></li>
        <li><p><%= popertie8_3 %></p></li>
        <li><p><%= example %></p></li>
        <img src="<%= body_example6 %>" alt="Ejemplo test" style="max-width: 100%; height: auto;">
    </ul>

    <a href="/menu">Volver al Menú</a>
</body>
</html>