<html>
<head>
    <title><%= head_title %></title>
</head>
<body>
    <h1><%= head_title %></h1>
    <h2><%= title1 %></h2>
    <ul>
        <h3><%= pro_title1 %></h3>
        <li><p><%= pro1_1 %></p></li>
        <li><p><%= pro1_2 %></p></li>
        <h3><%= pro_title2 %></h3>
        <li><p><%= pro2_1 %></p></li>
        <li><p><%= pro2_2 %></p></li>
        <h3><%= pro_title3 %></h3>
        <li><p><%= pro3_1 %></p></li>
        <h3><%= pro_title4 %></h3>
        <li><p><%= pro4_1 %></p></li>
        <li><p><%= pro4_2 %></p></li>
        <h3><%= pro_title5 %></h3>
        <li><p><%= pro5_1 %></p></li>
        <li><p><%= pro5_2 %></p></li>
        <h3><%= pro_title6 %></h3>
        <li><p><%= pro6_1 %></p></li>
        <li><p><%= pro6_2 %></p></li>
        <h3><%= pro_title7 %></h3>
        <li><p><%= pro7_1 %></p></li>
        <li><p><%= pro1_2 %></p></li>
        <h3><%= pro_title8 %></h3>
        <li><p><%= pro8_1 %></p></li>
    </ul>
    <h2><%= title2 %></h2>
    <ul>
        <h3><%= con_title1 %></h3>
        <li><p><%= con1_1 %></p></li>
        <li><p><%= con1_2 %></p></li>
        <h3><%= con_title2 %></h3>
        <li><p><%= con2_1 %></p></li>
        <li><p><%= con2_2 %></p></li>
        <h3><%= con_title3 %></h3>
        <li><p><%= con3_1 %></p></li>
        <h3><%= con_title4 %></h3>
        <li><p><%= con4_1 %></p></li>
        <h3><%= con_title5 %></h3>
        <li><p><%= con5_1 %></p></li>
        <li><p><%= con5_2 %></p></li>
        <h3><%= con_title6 %></h3>
        <li><p><%= con6_1 %></p></li>
    </ul>

    <a href="/menu">Volver al Menú</a>
</body>
</html>